@model VMHienThiShop
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Category Products";
    Layout = "_LayoutStore";
}

<div class="container my-5">
    <h2 class="text-center mb-4">Our Categories</h2>
    <div class="row">
        @foreach (var loaisp in Model.loaisps)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="~/assets/loaisp/@loaisp.hinh_anh" class="card-img-top" alt="@loaisp.name">
                    <div class="card-body row">
                        <h5 class="card-title col mt-2">@loaisp.name</h5>
                        <a asp-controller="Shop" asp-action="Category" asp-route-id_loai="@loaisp.id" class="btn btn-primary rounded-pill col">Xem sản phẩm</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="container my-5">
        <h2 class="text-center mb-4">Sản phẩm nổi bật</h2>
        <div class="row">
            @foreach (var sp in Model.sanphams)
            {
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="~/assets/sanphams/@sp.hinhanh" class="card-img-top" alt="@sp.ten_sanpham">
                        <div class="card-body">
                            <h5 class="card-title">@sp.ten_sanpham</h5>
                            <p class="card-text">@sp.thanhtien.ToString("N0") + " VND"</p>
                            <a asp-controller="Shop" asp-action="AddToCart" asp-route-productid="@sp.id_sanpham" class="btn btn-primary rounded-pill">Thêm</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
